* {
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%;
	color: black;
}

body {
	background-color: white;
	font: 13.34px helvetica, arial, freesans, clean, sans-serif; *
	font-size: small;
}

table {
	font-size: inherit;
	font: 100%;
}

select,input[type=text],input[type=password],input[type=image],textarea
	{
	font: 99% helvetica, arial, freesans, sans-serif;
}

select,option {
	padding: 0 .25em;
}

optgroup {
	margin-top: .5em;
}

input.text {
	padding: 1px 0;
}

pre,code {
	font: 12px Monaco, "Courier New", "DejaVu Sans Mono",
		"Bitstream Vera Sans Mono", monospace;
}

body * {
	line-height: 1.4em;
}

p {
	margin: 1em 0;
}

img {
	border: 0;
}

abbr {
	border-bottom: none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: inline-block;
}

.clearfix {
	display: block;
}

html {
	overflow-y: scroll;
}

a {
	color: #4183c4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.right {
	float: right;
}

.left {
	float: left;
}

.hidden {
	display: none;
}

div.region {
	border: 2px solid Beige;
	margin: 3px;
	padding: 5px;
}

basicTable {
	border: 1px solid gray;
}

table.horizontalContainer td {
	vertical-align: top;
}

div.BasicTable tr.add td {
	text-align: center;
	padding: 0.1em 1em;
	cursor: pointer;
	background-color: Wheat;
	border: 1px solid SteelBlue;
}

div.BasicTable tr.add td:hover {
	background-color: SteelBlue;
}
